
############################################################
# IDE Files
############################################################
.idea
.vscode

############################################################
# Output Files & Dirs
############################################################
tmp
*__pycache__
dist
*\.egg-info
docs/build
