
############################################################
# IDE Files
############################################################
.idea

############################################################
# Output Files & Dirs
############################################################
tmp
*__pycache__
dist
*\.egg-info
docs/build