
############################################################
# IDE Files
############################################################
.idea

############################################################
# Output Files & Dirs
############################################################
tmp
*__pycache__

############################################################
# Image Dir
############################################################
images
